body {
    font-family: 'Creepster', cursive;
    margin: 0;
    padding: 0;
    background-image: url('back\ 1.jpg');
    background-size: cover; /* Optional: makes the image cover the whole area */
    background-position: center; /* Optional: centers the image */
    width: 100%; /* Full width */
    color: #ffffff;
}
 
nav {
    font-family: 'Creepster', cursive;
    background-color: #222;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #bb86fc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #bb86fc;
}

header {
    font-family: 'Creepster', cursive;
    text-align: center;
    padding: 120px 20px 50px;
}

section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #bb86fc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

footer {
    font-family: 'Creepster', cursive;
    text-align: center;
    padding: 20px;
    background-color: #222;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.button {
    font-family: 'Creepster', cursive;
    display: inline-block;
    background-color: #bb86fc;
    color: #121212;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #985dff;
}
